<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Razorthink AI suite 1" verbose="1">
    <test name="Regression API Tests" parallel="false" allow-return-values="true">
        <groups>
            <define name="Admin">

            </define>
            <run>
                <!--<include name="loginP"/>-->
                <!--<include name="settings"/>-->
                <include name="roles_permissions"/>
            </run>
        </groups>
        <classes>
            <!--<class name="testPages.LoginPageTest"/>-->
            <!--<class name="testPages.SettingsPageTest"/>-->
            <class name="testPages.RolesandPermissionTest"/>
        </classes>

    </test>
    <listeners>
        <listener class-name="base.CustomTestListener"/>
    </listeners>

    <parameter name="username" value=""/>
    <parameter name="password" value=""/>
    <parameter name="loginTitle" value="Razorthink AI"/>

</suite>