<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Razorthink AI suite 1" verbose="1">
    <test name="Regression API Tests" parallel="false" allow-return-values="true">
        <groups>
            <define name="Admin">

            </define>
            <run>
                <include name="loginP"/>
                <!--<include name="settings"/>-->
                <!--<include name="roles_permissions"/>-->
                <!--<include name="pipeline"/>-->
            </run>
        </groups>
        <classes>
            <class name="pages.LoginPageTest"/>
            <!--<class name="pages.admin.SettingsPageTest"/>-->
            <!--<class name="pages.admin.RolesandPermissionTest"/>-->
            <!--<class name="pages.projects.pipeline.PipelineListPageTest"/>-->
        </classes>

    </test>
    <listeners>
        <listener class-name="base.CustomTestListener"/>
    </listeners>

    <parameter name="username" value="kajal.razorthink@gmail.com"/>
    <parameter name="password" value=""/>
    <parameter name="loginTitle" value="Razorthink AI"/>
    <parameter name="projectName" value="Chec"/>
    <parameter name="pipelineName" value="Test"/>
    <parameter name="blockInstance" value="Test"/>


</suite>